USE [master]
GO
/****** Object:  Database [CARDB]    Script Date: 26.10.2022 17:13:38 ******/
CREATE DATABASE [CARDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CARDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\CARDB.mdf' , SIZE = 18432KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CARDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\CARDB_log.ldf' , SIZE = 12352KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CARDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CARDB]
GO
/****** Object:  Table [dbo].[CATEGORIES]    Script Date: 26.10.2022 17:13:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIES](
	[ID] [int] NOT NULL,
	[CATEGORY] [varchar](100) NULL,
	[MAINCATEGORY] [varchar](500) NULL,
	[LONGNAME] [varchar](200) NULL,
	[LEVEL_] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CITY]    Script Date: 26.10.2022 17:13:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CITY](
	[ID] [int] NOT NULL,
	[COUNTRYID] [int] NULL,
	[CITY] [varchar](100) NULL,
	[BEGPOINT] [int] NULL,
	[ENDPOINT] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DISTRICT]    Script Date: 26.10.2022 17:13:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DISTRICT](
	[ID] [int] NOT NULL,
	[TOWNID] [int] NULL,
	[DISTRICT] [varchar](100) NULL,
	[ID2] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TOWN]    Script Date: 26.10.2022 17:13:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TOWN](
	[ID] [int] NOT NULL,
	[CITYID] [int] NULL,
	[TOWN] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_]    Script Date: 26.10.2022 17:13:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_](
	[ID] [int] NOT NULL,
	[USERNAME_] [varchar](50) NULL,
	[PASSWORD_] [varchar](50) NULL,
	[NAMESURNAME] [varchar](100) NULL,
	[EMAIL] [varchar](100) NULL,
	[GENDER] [varchar](1) NULL,
	[CREATEDDATE] [smalldatetime] NULL,
	[BIRTHDATE] [date] NULL,
	[TELNR1] [varchar](15) NULL,
	[TELNR2] [varchar](15) NULL,
	[CITYID] [int] NULL,
	[TOWNID] [int] NULL,
	[DISTRICTID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WEBOFFERS]    Script Date: 26.10.2022 17:13:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WEBOFFERS](
	[ID] [int] NOT NULL,
	[USERID] [int] NULL,
	[CITYID] [int] NULL,
	[TOWNID] [int] NULL,
	[DISTRICTID] [int] NULL,
	[TITLE] [varchar](500) NULL,
	[BRAND] [varchar](50) NULL,
	[MODEL] [varchar](150) NULL,
	[PRICE] [float] NULL,
	[YEAR_] [varchar](50) NULL,
	[KM] [int] NULL,
	[FUEL] [varchar](50) NULL,
	[SHIFTTYPE] [varchar](150) NULL,
	[MOTORVOLUME] [varchar](150) NULL,
	[MOTORPOWER] [varchar](150) NULL,
	[COLOR] [varchar](150) NULL,
	[CASETYPE] [varchar](150) NULL,
	[FROMWHO] [varchar](150) NULL,
	[VARYANT] [varchar](250) NULL,
	[VARYANT2] [varchar](500) NULL,
	[ORIGINALID] [int] NULL,
	[TELNR] [varchar](50) NULL,
	[DATE_] [smalldatetime] NULL
) ON [PRIMARY]
GO
USE [master]
GO
